/**************************************
 * reset
 **************************************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 75%;
    font-family: 'Nanum Gothic', 'Malgun Gothic', sans-serif;
}

fieldset {
    border: none;
}

/**************************************
 * common
 **************************************/
.is--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}


form {
    width: 400px;
    margin: 100px auto 0;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    padding: 20px;
    font-weight: bold;
}

th,
td {
    padding: 5px 0;
    text-align: center;
    /*outline: 1px solid red;*/
}

th {
    padding-left: 20px;
    text-align: left;
}

td {
	text-align: right;
}

label {
    display: block;
    border-right: 1px solid #b8b8b8;
}

input[type="text"],
select {
    padding: 10px;
    border: 1px solid #E46A5B;
    border-radius: 5px;
    transition-property: border, box-shadow;
    transition-duration: 1s;
}

input[type="text"]:focus,
select:focus {
	border-color: none;
	box-shadow: 0 0 6px #98aaff;
}

.field { width: 90%; }

.field-addr {
    width: (740px /2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: (370px / 2) * -1;
}


select {
	 width: 97%;
}

.output {

    border-top :2px solid #000;
    margin-top: 20px;
    padding-top: 10px;
}

/**************************************
 * btn
 **************************************/

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px;
     width: 300px;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn--prewindow {
    background: #f37272;
}

.btn--down {
	    background: #e46a5b;
}

.btn--send {
        background: #7070ef;
}

.btn--clear {
    background: #ddd;
}

/**************************************
 *  파일 생성 폼
 **************************************/
.form-send {
    display: none;

    &.is--active { display: block; }
}


/**************************************
 * popup
 **************************************/
.dim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	// filter: alpha('opacity = 60');
}

.pop {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-top: -104px;
	margin-left: -200px;
	padding: 60px 0;
	text-align: center;
	background: #fff;
}

.down {
    display: none;

    &.is--active {
        display: block;
    }
}


.clear {
    display: none;

    &.is--active { display: block; }

    p { margin-top: 30px; }

    form {
        width: auto;
        margin: 10px 0 0;
    }
}
